{
    "presets":[
      ["@babel/preset-env",
               {
                 "targets":{
                     "edge":"16",
                     "firefox":"60",
                     "chrome":"67"
               },
               "corejs":3,
               "useBuiltIns":"usage"
           }
        ],
      "@babel/preset-react"
    ]
}
